@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
.App {
    box-sizing: border-box;
    font-family:Ralway,sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-family: Ralway, sans-serif;
}

.home-page{
    height: 91.5vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;

}
.btn{
    width: 150px;
    height: 50px;
    background-color: #1A2980;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
.btn:hover{
    background-color: #1732c4;
    transition-duration: 1s ;
    transition-timing-function: ease;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}